<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsTemplate">
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".LifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".CustomSelectorActivity"
            android:exported="false" />
        <activity
            android:name=".CanvasActivity"
            android:exported="false" />
        <activity
            android:name=".PropertyAnimationMainActivity"
            android:exported="false" />
        <activity
            android:name=".PropertyMainActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".AnimationActivity"
            android:exported="false" />
        <activity
            android:name=".DragAndDropActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteCacheActivity"
            android:exported="false" />
        <activity
            android:name=".ImageSliderActivity"
            android:exported="false" />
        <activity
            android:name=".TxtSizeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>